<div class="container-fluid">
  <div class="d-flex gap-1 socialbox">
    <a
      href="https://linkedin.com/in/matigaleanodev/"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/MatiGaleano"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="mailto: contacto@matiasgaleano.com.ar"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
    <i class="fas fa-envelope"></i>
    </a>
    <a
      href="https://api.whatsapp.com/send?phone=5493764299794&text=Hola,%20vengo%20de%20tu%20porfolio"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
    <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
</div>
