@import 'variables';

.body {
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: $color-light;

    &-trimmed{
        width: calc(100% - 20rem);
        margin-left: 20rem;
    }
    &-md-screen{
        width: calc(100% - 5rem);
        margin-left: 5rem;
    }
}