@import "variables";

.form {
  &__image{
    height: 10rem;
  }
  &__preview {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      lighting-color: #DAD5DF;
    }
  }
  &__textarea{
    height: 10rem;
  }
}
