@import "variables";

.form {
  &__picture {
    width: 7rem;
    max-width: 7rem;
    height: 7rem;
    margin: auto;
    padding: auto;
  }
  &__preview {
    width: 100%;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
  }
}
