@import 'variables';

@media (min-width: 576px) {
    .work {
      &-container{
          position: relative;
          &::before{
              content: '';
              position: absolute;
              display:inline-block;
              height: 150%;
              left: calc(50% + 0.40rem);
              border-left: .20rem solid $color-light;
          }
          &::after{
              content: '';
              position: absolute;
              display: inline-block;
              width: 1rem;
              height: 1rem;
              background: $color-light;
              border-radius: 100%;
              bottom: 50%;
              left: 50%;
              transition: all .3s ease;            
          }
          &:hover::after{
              transform: scale(1.4);
              background: $color-danger;
          }
      }
    }
  }

.work {
    &-title{
        color: $color-primary;
    }
    &-content{
        &-img{
            width: 85px;
            height: 85px;
            margin: auto 5px auto 5px;
            padding: 2px;
            border-radius: 100%;
            box-shadow: 0 5px 15px $color-shadow;
        }
    }
}
.img {
    height: 100%;
    width: 100%;
    display: block;
}