<section class="container-fluid p-0 m-0 work">
    <div class="row">
        <div class="col-12 d-flex">
            <h2 class="ms-5 work-title">Work Exp</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-between gap-1 mx-auto my-sm-5 work-container"
        *ngFor="let work of works
        let i = index
        let odd = odd
        let even = even">
        <app-collapse-panel
            [collapsed]="false"
            [data]="work"
            (Edit)="onEdit($event)"
            (Delete)="onDelete($event)"
            class="col-12 col-sm-6 col-lg-4 p-0 mx-0 mx-sm-2 mx-lg-5"
            [attr.data-aos]="odd ? 'zoom-out-left' : 'zoom-out-right'"
            [ngClass]="{'order-2' : odd}">
            >
            <app-collapse-header class="row">
                <div class="col-12 d-flex">
                    <h4 class="fs-5 my-auto">{{work.title}}</h4>
                </div>
            </app-collapse-header>
            <app-collapse-content>
                <div class="row work-content">
                    <div class="col-12 d-inline-flex justify-content-around work-content-head">
                        <div class="work-content-img">
                            <img src={{work.logo}} alt="{{work.company}} logo" class="img m-0 p-0">
                        </div>
                        <div class="ms-auto me-md-auto">
                            <h5 class="work-content-title">{{work.company}}</h5>
                            <label class="work-content-desig">
                                {{work.startDate | date: 'MMM yyyy'}}
                            </label>&nbsp;-&nbsp;
                            <label class="work-content-desig" *ngIf="!work.actual">
                                {{work.endDate | date: 'MMM yyyy'}}
                            </label>
                            <label class="work-content-desig" *ngIf="work.actual">
                                Actual
                            </label>
                        </div>
                    </div>
                </div>                
                <div class="row mt-3 work-description">
                    <p>{{work.description}}</p>
                </div>
            </app-collapse-content>
        </app-collapse-panel>
        <div class="col-12 d-none d-sm-flex col-sm-6 work-timeline"
        [ngClass]="{'order-1' : odd}">
            <div class="m-auto">
                <label class="work-content-desig">
                    {{work.startDate | date: 'MMM yyyy'}}
                </label>&nbsp;-&nbsp;
                <label class="work-content-desig" *ngIf="!work.actual">
                    {{work.endDate | date: 'MMM yyyy'}}
                </label>
                <label class="work-content-desig" *ngIf="work.actual">
                    Actual
                </label>
            </div>
        </div>
    </div>
</section>