@import "variables";

.card {
  max-width: 20rem;
  box-shadow: 5px 5px 10px 3px $color-shadow;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px 3px $color-shadow;
  }
  &-icon {
    transition: all 0.5s ease;
    &:hover {
      color: $color-light;
      transform: scale(1.25);
    }
    &:active {
      color: $color-light;
      transform: scale(0.75);
    }
  }
  &-body {
    height: 10rem;
  }
  &-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  &-button {
    transition: all 0.5s ease;
    &:active {
      transform: scale(0.75);
    }
  }
  &-footer {
    min-height: 6rem;
  }
}
