@import "variables";

.body {
  width: calc(100% - 5rem);
  min-height: calc(100vh - 7rem);
  padding-top: 3rem;
  margin-bottom: 0;
  margin-left: 5rem;
  padding: 0 0 3rem 0;
  z-index: 0;
  top: 3rem;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  perspective: 1200px;
  transform-style: preserve-3d;
  &-routes {
    transform-style: preserve-3d;
  }

  &-trimmed {
    width: calc(100% - 20rem);
    margin-left: 20rem;
  }
  &-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }
}
