<div class="container">
  <app-about-titles
    class="row"
    [title]="'Soft Skills'"
    (onAdd)="onAdd()"
  ></app-about-titles>
  <div class="d-flex justify-content-center mt-3">    
    <app-skill-form
    *ngIf="addSkill"
    (dataChange)="onSubmit($event)"
    (cancelEdit)="addSkill = !addSkill"
    ></app-skill-form>
  </div>
  <div class="row d-flex justify-content-center gap-3 skill">
    <app-skill-panel 
    class="col-12 col-md-5 col-lg-4 col-xl-3 my-md-2 skill"
    *ngFor="let skill of skills"
    [data]="skill"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    ></app-skill-panel>
  </div>
</div>
