<section class="container contact">
  <app-contact-title
    class="row"
    [title]="'Contacto'"
    data-aos="fade-up"
    data-aos-duration="1550"
  ></app-contact-title>
  <div class="row d-flex justify-content-center align-item-center mt-5">
    <app-contact-data
      class="col-11 col-lg-6 d-flex justify-content-center align-item-center mb-3"
      data-aos="fade-up"
      data-aos-duration="1550"
    ></app-contact-data>
    <app-contact-form
      class="col-11 col-lg-6"
      data-aos="fade-up"
      data-aos-duration="1550"
    ></app-contact-form>
  </div>
</section>
