$color-primary: #7b1fa2;
$color-secondary: #303f9f;
$color-success: #117948;
$color-danger: #a82431;
$color-light: #ede5f5;
$color-dark: #12031f;
$color-shadow: rgba(87, 6, 179, 0.50);
$color-shadow-light: rgba(228, 214, 243, 0.50);
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: rgb(175, 171, 171);