$color-primary: #e0740f;
$color-secondary: #7b1fa2;
$color-success: #117948;
$color-danger: #a82431;
$color-light: #e8d9f7;
$color-white: #dad5df;
$color-gray: #acafb3;
$color-dark: #160129;
$color-shadow: rgba(87, 6, 179, 0.5);
$color-shadow-light: rgba(245, 141, 6, 0.5);
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #474242;
