$color-primary: #7b1fa2;
$color-secondary: #303f9f;
$color-success: #117948;
$color-danger: #a82431;
$color-light: #ede5f5;
$color-dark: #12031f;
$color-shadow: rgba(37, 2, 77, 0.25);
$color-shadow-primary: #e6c9f348;
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: rgb(175, 171, 171);