@import 'variables';

.c-panel {
  border: 1px solid $color-gray;
  background: $color-white;
  color: $color-dark;
  border-radius: 6px;
  margin: 20px 5px;

  &-header {
    border: 1px solid $color-gray;
    color: $color-dark;
    background: $color-white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 6px;    
    width: 100%;

    &-container {
      align-items: center;
      padding: 1rem 0.50rem;
      cursor: pointer;
      width: 85%;
    }
    &-icon {
      margin-right: 0.5rem;
    }
    &-edit {      
      padding: 1rem 0.50rem;
      &-icon {
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          color: $color-primary;
          transform: scale(1.3);
        }
        &:active {
          color: $color-danger;
          transform: scale(0.7);
        }
      }
    }
  }
  &-content {
    background: $color-white;
    padding: 0.75rem;
  }
}