<fieldset class="c-panel">
    <legend class="d-flex c-panel-header align-item-center">
        <div class="d-flex c-panel-header-container" (click)="toggle($event)">
            <i  [ngClass]="{'fa-minus': collapsed, 'fa-plus': !collapsed}"
                class="fa-solid c-panel-header-icon"></i>
            <ng-content select="app-collapse-header"></ng-content>
        </div>
        <div class="d-flex align-item-center gap-2 c-panel-header-edit">
            <i 
                class="my-auto fa-solid fa-pen-to-square c-panel-header-edit-icon"
                (click)="onEdit($event)"
            ></i>
            <i 
                class="my-auto fa-solid fa-trash-can c-panel-header-edit-icon"
                (click)="onDelete($event)"
            ></i>
        </div>
    </legend>
    <div class="c-panel-toggleable-content" [@collapsePanelContent]="
        collapsed
            ? {value: 'hidden', params: {transitionParams: transitionOptions, height: '0'}}
            : {value: 'visible', params: {transitionParams: animating ? transitionOptions: '0ms', height: '*'}}"
        (@collapsePanelContent.done)="onToggleDone()">
        <div class="c-panel-content">
            <ng-content select="app-collapse-content"></ng-content>           
        </div>
    </div>
</fieldset>
