@import 'variables';

.c-panel {
  border: 1px solid $color-gray;
  background: $color-white;
  color: $color-dark;
  border-radius: 6px;
  margin: 20px 5px;

  &-header {
    border: 1px solid $color-gray;
    color: $color-dark;
    background: $color-white;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      padding: 1.25rem;
    }
    &-icon {
      margin-right: 0.5rem;
    }
    &-text {
      line-height: 1;
    }
  }
  &-content {
    background: $color-white;
    padding: 0.75rem;
  }
}