<article
  class="container d-flex flex-column justify-content-center align-item-center mb-3"
>
  <div class="col-12 col-md-10 mx-auto border border-primary border-1 rounded-2 p-5 bg-gradient bg-opacity-25">
    <p>
      Muchas gracias por llegar hasta aqui. Este portfolio fue realizado con
      mucho cariño, espero haya sido de su agrado
    </p>
    <br />
    <p>
      Puede contactar conmigo por correo, mis redes sociales o escribiendo en el
      siguiente formulario
    </p>
    <br />
    <app-contact-social></app-contact-social>
  </div>
</article>
