
<app-data-form [data]="data" *ngIf="editMode" (dataChange)="onSubmit($event)"></app-data-form>
<article class="card mb-3 bg-light bg-opacity-25 border border-primary article">
  <div
    *ngIf="onLogin"
    class="d-flex justify-content-end gap-3 text-primary card-header"
  >
    <i
      class="fa-solid fa-pencil article-icon me-2"
      (click)="onEditMode()"
    ></i>
    <i
      class="fa-solid fa-trash article-icon"
      (click)="onDelete.emit(data.id)"
    ></i>
  </div>
  <div class="row g-0 m-auto">
    <picture
      class="d-flex col-md-4 justify-content-center align-items-center m-auto article-picture"
    >
      <img
        src="{{ API_URL + '/api/image/' + data.image }}"
        alt="{{ data.institution }}"
        class="img-fluid rounded-circle p-2"
      />
    </picture>
    <div class="col-md-8 m-auto">
      <h4
        class="text-center fs-4 fw-bold text-primary justify-center article-title"
      >
        {{ data.title }}
      </h4>
      <h5
        class="text-center fs-5 fw-bold text-primary justify-center article-title"
      >
        {{ data.institution }}
      </h5>
      <div class="card-body">
        <p class="text-light fs-5 article-text">{{ data.description }}</p>
        <time class="text-center article-footer-desig">
          {{ data.startDate | date: "MMM yyyy" }} -
          <span *ngIf="!data.actual">{{
            data.endDate | date: "MMM yyyy"
          }}</span>
          <span *ngIf="data.actual">Actual</span>
        </time>
      </div>
    </div>
  </div>
</article>
