@import 'variables';
@import 'animations';

@media (min-width: 576px) {
    .about{
        &-section{
            margin: 12rem 0;
        }
    }
}
.about-text{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {    
    background-repeat: no-repeat;
    background-position: center;
    animation: ken-burns 12s ease 0s infinite alternate both;
}
