@import 'variables';
@import 'animations';

@media (min-width: 786px) {
    .about{
        &-panel {
            &-container {
                position: relative;
                &::before{
                  content: '';
                  position: absolute;
                  display:inline-block;
                  height: 150%;
                  left: calc(50% + 0.40rem);
                  border-left: .20rem solid $color-light;
                }
                &::after{
                  content: '';
                  position: absolute;
                  display: inline-block;
                  width: 1rem;
                  height: 1rem;
                  background: $color-light;
                  border-radius: 100%;
                  bottom: 50%;
                  left: 50%;
                  transition: all .3s ease;            
                }
                &:hover::after{
                  transform: scale(1.4);
                  background: $color-danger;
                }
            }
        }
    }
}

.about-text{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {    
    background-repeat: no-repeat;
    background-position: center;
    animation: ken-burns 12s ease 0s infinite alternate both;
}
