@import "variables";
@import "/node_modules/aos/dist/aos";

.about {
  &-section {
    min-height: calc(100vh - 6rem);
    margin: 3rem 0 6rem;
    scroll-behavior: smooth;
  }
}

@media (min-width: 786px) {
  .timeline {
    &-panel {
      &-container {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          height: 150%;
          left: calc(50% + 0.4rem);
          border-left: 0.2rem solid $color-light;
        }
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 1rem;
          height: 1rem;
          background: $color-light;
          border-radius: 100%;
          bottom: 50%;
          left: 50%;
          transition: all 0.3s ease;
        }
        &:hover::after {
          transform: scale(1.4);
          background: $color-danger;
        }
      }
    }
  }
}
