@import 'variables';

.login {
    display: flex;
    align-items: center;
    height: 3rem;
    color: $color-light;
    background: $color-dark;
    text-decoration: none;
    border-radius: 0.4rem;
    transition: color 0.5s ease;
    &:hover{
        background-color: $color-light;
        color: $color-dark;
    }
    &-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.50rem;
        text-align: center;
    }
    &-text{
        margin-left: 1.25rem;
    }
}
.active {
    background: $color-light;
    .login-icon,
    .login-text {
        color: $color-dark;
    }
}