@import "variables";

* {
  box-sizing: border-box;
}

.skill {
  padding: 0;
  margin: 5rem auto;
  max-width: 50rem;
  &-nav {
    &-button {
      font-weight: 500;
    }
  }
  &-panel {
    padding: 1rem 0.75rem 2rem;
    &-article.active {
      animation: fade-in 2.5s ease;
    }
    &-picture {
      width: 3rem;
      height: 3rem;
    }
    &-icon {
      height: 2.5rem;
      width: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
