@import "variables";

* {
  box-sizing: border-box;
}

.skill {
  padding: 0;
  margin: 5rem auto;
  max-width: 50rem;
  &__nav {
    &__button {
      font-weight: 500;
    }
  }
  &__panel {
    padding: 1rem 0.75rem 2rem;
    &__article.active {
      animation: fade-in 2.5s ease;
    }
    &__picture {
      width: 3rem;
      height: 3rem;
    }
    &__icon {
      height: 2.5rem;
      width: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
