@import 'variables';

.socialbox {
  &-link{
    display: flex;
    align-items: center;
    height: 2rem;
    color: $color-light;
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover{
        transform: scale(1.5);
    }
    .fa-facebook:hover{
        color: $facebook;
    }
    .fa-twitter:hover{
        color: $twitter;
    }
    .fa-instagram:hover{
        color: $instagram;
    }
    .fa-linkedin:hover{
        color: $linkedin;
    }
    .fa-github:hover{
        color: $github;
    }
    .fa-brands{
      font-size: 1.5rem;
      width: 2rem;
      min-width: 2rem;
      text-align: center;
    }
  }
  }