@import "variables";

.app {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  &__footer {
    z-index: 0;
    margin-top: auto;
  }
}
.spinner {
  position: absolute;
  display: flex;
  z-index: 1002;
  background-color: rgba(107, 107, 107, 0.5);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  justify-content: center;
  align-items: center;  
  filter: alpha(opacity=50);
}
