@import 'variables';

.profile{    
    height: calc(100vh - 6rem);
    &-header{
        &-wrap{
            height: 350px;
            width: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-bottom: 2px solid $color-light;
        }
        &-banner {
            width: 100%;
            height: 100%;
        }
        &-img{
            width: auto;
            height: 100%;
            object-fit: scale-down;
        }
    }
    &-info{
        &-wrap{
            max-width: 1300px;
            margin: 0 auto;
        }
        &-avatar{
            widows: 200px;
            height: 10px;
            float: left;
            position: relative;
            &-inner{
                width: 200px;
                height: 200px;
                border-radius: 100%;
                position: absolute;
                top: -100px;
                background-color: $color-light;
                border: 5px solid $color-light;
            }
        }
        
    }
    &-content{
        max-width: 1300px;
        margin: 100px auto 0;
    }
    &-edit{
        color: $color-light;
        position: absolute;
        bottom: 0;
        right: 25;
        font-size: 1.2em;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
            color: $color-success;
            transform: scale(1.2);
            opacity: 0.7;
            text-shadow: 0 5px 15px $color-success;
        }
    }
}

.text {
    text-shadow: 0px 5px 15px $color-shadow-light;
    font-weight: 900;
    -webkit-text-stroke: .8px $color-primary;
}