<section class="container profile">
    <div class="row profile-container">
        <div class="col-12 d-flex justify-content-center align-items-center align-items-lg-start text-center col-lg-6 profile-title">
            <div>
                <h1 class="text-light profile-title-h1">Matias Galeano</h1>
                <h2 class=" text-light text-center profile-title-h2 ">Desarrollador Web Fullstack</h2>
                <app-subtitle class="fs-3"></app-subtitle>
            </div>
        </div>
        <picture class="col-12 col-lg-6 d-flex justify-content-center align-items-center align-items-lg-end profile-banner">
            <img src="{{banner}}" alt="" class="img-fluid col-12 profile-banner-image">
        </picture>
    </div>
</section>
