<section class="row px-1 pt-3 p-md-3 m-1 m-md-3 align-items-center banner" data-aos="zoom-in">
    <div class="d-flex justify-content-center">
        <i class="fa-solid fa-image pt-3"></i>
    </div>
    <div class="d-flex col-12">
        <div class="d-flex align-items-center justify-content-center profile">
            <i class="fa-solid fa-image pt-3"></i>
        </div>
        <i class="fa-solid fa-pen align-self-end justify-content-end"></i>
    </div>
    <div class="col-12 w-100 pt-0">
        <h1 class="mb-0">Matias Galeano</h1>
        <address class="mb-1">Posadas-Misiones Argentina</address>
        <button class="btn boton">Boton</button>
    </div>   
</section>
