<section class="container project">
  <app-project-title
    class="row"
    [title]="'Proyectos'"
    (onAdd)="onAdd()"
  ></app-project-title>
  <div class="row d-flex justify-content-center mt-3">
    <app-project-form
      class="col-12 col-md-6"
      *ngIf="addProject"
      (dataChange)="onSubmit($event)"
    ></app-project-form>
  </div>
  <div class="row d-flex justify-content-center align-item-center">
    <app-project-card
      *ngFor="let project of projects"
      [data]="project"
      class="d-flex justify-content-center align-item-center col-12 col-md-6 col-lg-4 col-xl-3 mb-3 px-1 px-lg-2 px-xl-3"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
    ></app-project-card>
  </div>
</section>
