@import 'variables';

.profile{
    &-picture{     
        border-radius: 1rem;
        background-color: $color-primary;
        box-shadow: 5px 5px 10px 3px $color-shadow-light;
        @media (max-width: 390px){
            height: auto;
            width: 80%;
        }
        @media (max-width: 575px){
            height: auto;
            width: 60%;
        }
        @media (min-width: 576px){
            height: auto;
            width: 50%;
        }
        @media (min-width: 768px){
            height: 150px;
            width: 150px;
        }
        @media (min-width: 992px){
            height: 200px;
            width: 200px;
        }
        @media (min-width: 1200px){
            width: 250px;
            height: 250px;
        }
        &-img{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background: $color-light;
            border: 3px solid $color-light;
            transform: rotate(15deg);
            transition: all .3s ease-in-out;
            &:hover{
                transform: rotate(0);
                transition: all .3s ease-in-out;
            }
        }
    }
    &-content{        
        box-shadow: 5px 5px 10px 3px $color-shadow-light;
        &-icon{
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                color: $color-primary;
                transform: scale(1.2);
            }
            &:active{
                transform: scale(.8);
            }
        }
        &-body{
            margin: auto 0;
            padding: auto;
        }       
        &-p{
            text-justify: distribute;
            line-height: 1.5rem;
            font-size: 1.2rem;
        }
    }
}