<section class="container p-0">
    <div class="row profile">
        <div class="d-flex justify-content-center align-items-center col-12 col-md-4 py-5 py-md-2 mx-auto profile-left">
            <picture class="profile-picture">
                <img src={{profilePic}} alt="Matias Galeano foto de perfil" class="profile-picture-img">
            </picture>
        </div>
        <div class="d-flex justify-content-center col-12 col-md-8 py-5 py-md-2 mx-auto profile-right">
            <article class="border border-primary border-1 rounded-2 p-4 bg-dark profile-content">
                <div class="col-12 d-flex pb-2 align-items-center border-bottom">
                    <h3 class="bold fs-2 text-primary profile-content-title">Sobre Mi</h3>
                    <i class="ms-auto me-0 pb-2 fa-solid fa-user-pen profile-content-icon"></i>
                </div>
                <div class="pt-2">
                    <p class="profile-content-p">
                        Soy de Posadas, Misiones, Argentina. Desde 2020 estudio programacion y desarrollo web de forma autodidacta. 
                        A mitad de 2021 tuve la oportunidad de participar de Argentina Programa y termine de descubrir mi pasion por el desarrollo web. 
                    </p>
                    <p class="profile-content-p">
                        Eh tenido varios trabajos fuera de la industria IT que me ayudaron a desarrollar mis habilidades personales y a mejorar como persona.
                    </p>
                    <p class="profile-content-p">
                        Me gusta aprender nuevas tecnologias y me gusta trabajar con personas que me ayudan a aprender.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
