<app-about-titles
  class="row"
  [title]="'Experiencia Laboral'"
  (onAdd)="onAdd()"
></app-about-titles>
<app-data-form 
  *ngIf="addWork"
  (dataChange)="onSubmit($event)"
></app-data-form>
<div
  class="container"
  data-aos="fade-up"
  data-aos-offset="10"
  data-aos-delay="100"
  data-aos-duration="1550"
>
  <div class="row d-flex justify-content-center gap-3">
    <app-data-card
      class="col-12 col-md-5 col-lg-4 col-xl-3"
      *ngFor="let data of workData"
      [data]="data"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
    ></app-data-card>
  </div>
</div>
