@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import 'variables';

$primary: $color-primary;
$secondary: $color-secondary;
$success: $color-success;
$danger: $color-danger;
$light: $color-light;
$dark: $color-dark;

$enable-cssgrid: true;

@import 'node_modules/bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
  }
