@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import 'variables';

$primary: #7b1fa2;
$secondary: #303f9f;
$success: #117948;
$danger: #a82431;
$light: #e8d9f7;
$gray: #acafb3;
$dark: #12031f;
$white: #ede5f5;

$enable-cssgrid: true;

@import 'node_modules/bootstrap/scss/bootstrap';
@import "/node_modules/aos/dist/aos";

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
body {
  background: $dark;  
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: $light;
}

::-webkit-scrollbar {
  width: 0px;
  border-left: $light solid 1px;
  border-radius: 3px;
  &-track{
    background: $dark;  
  }
  &-thumb{
    background: $primary;
    border-radius: 3px;
  }
}
.modal-backdrop {
  z-index: 1;
}