@import 'variables';

@media (max-width: 767px) {
    .profile-picture {
        height: 10rem;
        width: 10rem;
    }
}
@media (min-width: 768px) {
    .profile-picture {
        height: 15rem;
        width: 15rem;
    }
}

.profile-picture {
    box-shadow: 0px 5px 30px $color-shadow-primary;
}

