<section class="container-fluid dashboard">
  <div class="row d-flex justify-content-center align-item-center mb-2 mb-md-5">
    <h2 class="col-12 text-primary fw-bolder fs-2 pt-2 text-center m-auto">
      Dashboard
    </h2>
  </div>
  <div class="row d-flex justify-content-center align-item-center">
    <app-user-register
      class="col-11 col-sm-10 col-md-8 col-lg-8 mb-4"
    ></app-user-register>
    <app-profile-panel
      class="col-11 col-sm-10 col-md-8 col-lg-8 mb-4"
    ></app-profile-panel>
    <app-inbox class="col-11 col-sm-10 col-md-8 col-lg-8 mb-4"></app-inbox>
  </div>
</section>
