@import "variables";

.form {
  &__image{
    height: 10rem;
  }
  &__preview {
    background-color: #DAD5DF;
    width: 10rem;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &__textarea{
    height: 15rem;
  }
}