<div class="container-fluid">
  <div class="d-flex gap-1 socialbox">
    <a
      href="https://linkedin.com/in/matigaleanodev/"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/MatiGaleano"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <!-- <a
      href="https://twitter.com/NoSoy_Mati/"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-twitter"></i>
    </a> -->
    <a
      href="https://www.instagram.com/matigaleanodev/"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a
      href="https://www.facebook.com/matigaleanodev/"
      target="_blank"
      rel="noopener noreferrer"
      class="socialbox-link"
    >
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>
</div>
